body {
    background-color: #d7dbd6 !important;
    font-family: 'Roboto', sans-serif;
}

.background-body {
    background-color: #009688;
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: -1;
    top: 0
}

.container-web {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
}

.h-inherit {
    height: inherit;
}

.header-col {
    background-color: #eeeeee;
    padding-top: .7rem;
    padding-bottom: .6rem;
    border-left: 1px solid #e0e0e0;
}

.color1 {
    background-color: #ece6e0;
}

.color2 {
    background-color: #009688;
    color: #fff
}

.color3 {
    background-color: #74e870;
}

.pd-none {
    padding: 0px!important
}

.login-form {
    margin-top: 3%;
    padding: .4rem
}

.full {
    width: 100%;
}

.mt {
    margin-top: 2%;
}

.users-list {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    height: 90%;
}

.user-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.user-container:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.user-name {
    border-bottom: 1px solid#ece6e0;
    font-size: .9rem;
    font-weight: bold;
}

.userImg {
    border-radius: 50%;
    width: 40px;
}

.t-right {
    text-align: right;
}

.icons svg {
    margin: .4rem
}

.input-msn {
    background-color: #f6f2ee;
    padding-top: .5rem;
    padding-bottom: .5rem;
    bottom: 0;
    position: absolute !important;
}

.input-msn input {
    background-color: #fff;
    border-radius: 2.3rem;
    border: none;
    height: 40px;
}

.input-msn i {
    font-size: 1.6rem;
    color: #a7a9a6;
    padding-top: .5rem;
}

#messagesContainer {
    padding: 3rem;
    overflow-y: auto;
    height: 80%;
}

#messagesContainer::-webkit-scrollbar {
    width: .4rem;
}

#messagesContainer::-webkit-scrollbar-track {
    background: #d7dbd6;
}

#messagesContainer::-webkit-scrollbar-thumb {
    background: #bec0bd;
}

.messages {
    background-color: #e5ddd5;
    background-image: url('../../assets/img/background2.png');
}

.message {
    max-width: 65%;
    word-wrap: break-word;
    margin: .5rem;
    font-size: .9rem;
    padding: .5rem;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.remitent {
    float: left;
    background-color: #ffffff;
}

.destination {
    float: right;
    background-color: #dcf8c6;
}

.time {
    font-size: .6rem;
    color: #767373;
    margin-left: .6rem;
}